name: Build RBXRemake and RbxRemakeStudio iOS Apps

on:
  workflow_dispatch:

jobs:
  build_rbxremake:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run RBXRemake build script
        run: |
          echo "Current working directory: $(pwd)"
          chmod +x ./build-ios-RBXRemake.sh

      - name: Upload RBXRemake IPA (if successful)
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: RBXRemake-ipa
          path: RBXR/RBXRemake.ipa

  build_rbxremakestudio:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run RbxRemakeStudio build script
        run: |
          echo "Current working directory: $(pwd)"
          ./build-ios-RbxRemakeStudio.sh

      - name: Upload RbxRemakeStudio IPA (if successful)
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: RbxRemakeStudio-ipa
          path: RbxRemakeStudio/ios/build/ipa
