name: Build RBXRemake and RbxRemakeStudio iOS Apps

on:
  workflow_dispatch:

jobs:
  build_both_apps:
    runs-on: macos-latest
    env:
      ACTIONS_SETUP_DEBUG: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Give Build Script chmod
        run: chmod +x ./build_ios_apps.sh

      - name: Initialize Build Script
        run: |
          brew install xcodegen

      - name: Run build script
        run: ./build_ios_apps.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          

      - name: Upload RBXRemake IPA (if successful)
        uses: actions/upload-artifact@v3
        with:
          name: RBXRemake-ipa
          path: xcodeproj/RBXRemake.ipa

      #- name: Upload RbxRemakeStudio IPA (if successful)
      #  uses: actions/upload-artifact@v3
      #  with:
       #   name: RbxRemakeStudio-ipa
      #    path: RBXR/Studio.ipa
