name: Build iOS Apps

on:
  workflow_dispatch:

jobs:
  build-RBXRemake:
    runs-on: macos-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Run RBXRemake iOS build script
        run: |
          chmod +x build-ios-RBXRemake.sh
          build-ios-RBXRemake.sh

      - name: Upload RBXRemake IPA
        uses: actions/upload-artifact@v3
        with:
          name: RBXRemake-ipa
          path: RBXRemake/ios/build/ipa

  build-RbxRemakeStudio:
    runs-on: macos-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Run RbxRemakeStudio iOS build script
        run: |
          chmod +x build-ios-RbxStudio.sh
          build-ios-RbxStudio.sh

      - name: Upload RbxRemakeStudio IPA
        uses: actions/upload-artifact@v3
        with:
          name: RbxRemakeStudio-ipa
          path: RbxRemakeStudio/ios/build/ipa
